{% extends 'base.html.twig' %}

{#{% block contentClass %}wrap-main-form py-4{% endblock %}#}

{% block title %}
    Profile settings | CoinImp
{% endblock %}

{% block contentClass %}profile{% endblock %}

{% block content %}
    <div id="profile">
        <div class="container py-2">
            <div class="col-xs-6 col-lg-10 col-xl-6">
                <div class="row mt-2 mb-0 justify-content-center">
                    <div class="form-group text-center">
                        <h2>Profile settings</h2>
                    </div>
                </div>
            </div>
            <div class="row py-3 justify-content-center">
                <div class="col-xs-6 col-lg-10 col-xl-6">
                    {% block formPicture %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group text-center">
                                    <img src="{{ asset('build/images/avatar-profile.png') }}" class="rounded-circle avatar-profile" alt="img-profile">
                                </div>
                            </div>
                        </div>
                    {% endblock %}
                </div>
                <div class="col-xs-6 col-lg-10 col-xl-6">
                    <div class="card">
                        <div class="card-header-accent">
                            {{ emailHeader }}
                        </div>
                        <div class="card-body">
                            {% block formEmail %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {{ form_start(formEmail, {'attr': {'ref': 'emailForm'}}) }}
                                            <div class="pb-1">
                                                {{ form_row(formEmail.email, {'attr': {'ref': 'email', '@keyup': 'onEmailKeyUp'}} ) }}
                                            </div>
                                            {{ form_rest(formEmail) }}
                                            <div class="text-center">
                                                <button type="submit" ref ="emailButton" class="btn btn-primary" @click.prevent="onEmailSubmit" disabled>Save</button>
                                            </div>
                                            {{ form_end(formEmail) }}
                                        </div>
                                    </div>
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                    <div class="row py-3 justify-content-center">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header-accent">
                                    {{ passwordHeader }}
                                </div>
                                <div class="card-body">
                                    {% block formPassword %}
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    {{ form(formPassword) }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endblock %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% block formNote %}{% endblock %}
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row py-3 justify-content-center">
                <div class="col-xs-12 col-lg-10 col-xl-6">
                    <div class="text-center">
                        <h5>Two-Factor Authentication</h5>
                        <p>Increase your account's security by enabling Two-Factor Authentication (2FA).</p>
                    </div>
                    {% if twoFactorAuth %}
                        <a href="{{ path('two_factor_auth') }}" class="btn btn-info btn-block" role="button">
                            Manage two-factor authentication
                        </a>
                    {% else %}
                        <a href="{{ path('two_factor_auth') }}" class="btn btn-success btn-block" role="button">
                            Enable two-factor authentication
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block pagescripts %}
    <script src="{{ asset('build/profile.js') }}"></script>
{% endblock %}

