<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_artur-makówka-juice.jpg') }}" class="img-fluid
        rounded-circle img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Artur Makówka</span>
        <span class="job-title">CEO & Co-Founder</span>
        <a href="https://www.linkedin.com/in/arturmakowka" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_pavel-sabadash.jpg') }}" class="img-fluid
        rounded-circle img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Pavel Sabadash</span>
        <span class="job-title">Project Manager</span>
        <a href="https://www.linkedin.com/in/pavel-sabadash-900819170" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_jakub-czechowski.jpg') }}" class="img-fluid
        rounded-circle img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Jakub Czechowski</span>
        <span class="job-title">Full-Stack Developer & Project Manager</span>
        <a href="https://www.linkedin.com/in/jakubczechowski" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_lukasz-matczak-lumat.jpg') }}" class="img-fluid
        rounded-circle img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Łukasz Matczak</span>
        <span class="job-title">Technical Lead & Blockchain Architect</span>
        <a href="https://www.linkedin.com/in/%C5%82ukasz-matczak-766b36172" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_kseniia-semenova.jpg') }}" class="img-fluid
        rounded-circle img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Ksenia Semenova</span>
        <span class="job-title">QA Team Lead</span>
        <a href="https://www.linkedin.com/in/ksenia-semenova-5b2a46171" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_victor-fedorenko.jpg') }}" class="img-fluid
        rounded-circle img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Victor Fedorenko</span>
        <span class="job-title">Full-stack Developer</span>
        <a href="https://www.linkedin.com/in/victor-fedorenko-671b05172" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_afaf-hassan.jpg') }}" class="img-fluid
        rounded-circle img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Afaf Hassan</span>
        <span class="job-title">Full-stack Developer</span>
        <a href="https://www.linkedin.com/in/afaf-hassan-b99052173" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_khaled-alam-ninjo.jpg') }}" class="img-fluid
        rounded-circle img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Khaled Alam</span>
        <span class="job-title">Full-stack Developer</span>
        <a href="https://www.linkedin.com/in/khaledalam" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_adeniji-olusegun-bigshan.jpg') }}" class="img-fluid
        rounded-circle img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Adeniji Olusegun</span>
        <span class="job-title">Full-stack Developer</span>
        <a href="https://www.linkedin.com/in/segun-adeniji" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_jiang-jian.jpg') }}" class="img-fluid rounded-circle img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Jiang Jian</span>
        <span class="job-title">Full-Stack Developer</span>
        <a href="https://www.linkedin.com/in/jiang-jian-757b67172" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_lai-taiyu.jpg') }}" class="img-fluid rounded-circle img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Lai Taiyu</span>
        <span class="job-title">Full-stack Developer</span>
        <a href="https://www.linkedin.com/in/taiyu-lai" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_viktor-saenko-saenko.jpg') }}" class="img-fluid rounded-circle
    img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Viktor Saenko</span>
        <span class="job-title">Senior Unix Engineer</span>
        <a href="https://linkedin.com/in/viktor-saenko-53b930170" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_mohamed-gamal-jemmy.jpg') }}" class="img-fluid rounded-circle
    img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Muhammad Gamal</span>
        <span class="job-title">QA Specialist</span>
        <a href="https://www.linkedin.com/in/muhammad-gamal-710a57171" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_cecilia-farias-ceciliafarias.jpg') }}" class="img-fluid rounded-circle
    img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Cecilia Farias</span>
        <span class="job-title">QA Specialist</span>
        <a href="https://www.linkedin.com/in/cecilia-farias-732b95172" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_alberto-zapata.jpg') }}" class="img-fluid rounded-circle
    img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Alberto Zapata</span>
        <span class="job-title">QA Specialist</span>
        <a href="https://www.linkedin.com/in/alberto-zapata-0a94b3171" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_kizito-pius-tendo.jpg') }}" class="img-fluid rounded-circle
    img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Kizito Pius Tendo</span>
        <span class="job-title">HR Manager</span>
        <a href="https://www.linkedin.com/in/pius-tendo-21322ab2" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_elvis-contreras-elvis.jpg') }}" class="img-fluid rounded-circle
    img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Elvis Contreras</span>
        <span class="job-title">Recruiting Manager</span>
        <a href="https://www.linkedin.com/in/elvis-contreras-8606a315b" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_mohamed-tarek-mado.jpg') }}" class="img-fluid rounded-circle img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Mohamed Tarek</span>
        <span class="job-title">Blockchain Market Researcher & Full-stack developer</span>
        <a href="https://www.linkedin.com/in/mohamed-tarek-bb692a172" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_mathias-odia-mat.jpg') }}" class="img-fluid rounded-circle img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Mathias Odia</span>
        <span class="job-title">Technical Support</span>
        <a href="https://www.linkedin.com/in/mathias-odia-94a081173" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_iryna-fedoseienko-akirka.jpg') }}" class="img-fluid rounded-circle
    img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Iryna Fedoseienko</span>
        <span class="job-title">Technical Support</span>
        <a href="https://www.linkedin.com/in/iryna-fedoseienko-85629b171" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_daniel-kouam-daniel.jpg') }}" class="img-fluid rounded-circle img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Daniel Kouam</span>
        <span class="job-title">Digital Marketing Specialist</span>
        <a href="https://www.linkedin.com/in/jean-daniel-kouam-waguia-7241b682" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_irving-arrieta-vazquez-irvinga.jpg') }}" class="img-fluid rounded-circle
    img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Irving Arrieta Vazquez</span>
        <span class="job-title">Senior Graphic & Web Designer</span>
        <a href="https://www.linkedin.com/in/irving-arrieta-vazquez-0aab40172" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_bruce-boyd.jpg') }}" class="img-fluid rounded-circle
    img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Bruce Boyd</span>
        <span class="job-title">PR Manager & Blockchain Market Researcher</span>
        <a href="https://www.linkedin.com/in/bruce-boyd-42118a174" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
<div class="col-12 col-sm-6 col-md-4 col-xl-3">
    <div class="img">
        <img src="{{ asset('build/images/profile_orlan-silva.jpg') }}" class="img-fluid rounded-circle
    img-thumbnail">
    </div>
    <div class="info">
        <span class="name">Orlan Silva</span>
        <span class="job-title">Legal Advisor</span>
        <a href="https://linkedin.com/in/orlan-silva-71a518b9" target="_blank" rel="nofollow">
            <font-awesome-layers class="fa-2x">
                <font-awesome-icon :icon="['fab','linkedin']"></font-awesome-icon>
            </font-awesome-layers>
        </a>
    </div>
</div>
